.finicio { 
  background: url("recursos/imagenes/fondoInicio.jpg") no-repeat center center fixed; 
  background-size: cover;
  color: white;
}

.titulo{
	font-size: 50px;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	text-shadow: 2px 2px 4px #000000;
    padding-top: 50px;
    padding-bottom: 50px;
}

.fcolumna {
	background:rgba(150,26,250,0.3);
	border-style: none;
}

.barrah{
	margin-bottom: 0px;
	vertical-align:top;
}

.central{
	padding-top: 60px
	
}