<!DOCTYPE html>
<html lang="es">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bibleoteca</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type= "text/css" "style.css">
       
        <!--[if lt IE 9]>
        <![endif]-->

       

    </head>
    <body>
    
    	<nav class="navbar navbar-inverse navbar-fixed-top barrah">
    		<div class="container-fluid">
    			<div class="navbar-header">
    				<a class="navbar-brand" href="#">
          				<span class="glyphicon glyphicon-book"></span>
    				</a>
    			</div>
    			<div>
    				<ul class="nav navbar-nav">
    					<li class="active"><a href="#">Home</a></li>
    					<li><a href="#">Libros</a></li>
    					<li><a href="#">Usuario</a></li>
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
        				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
       					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      				</ul>
    			</div>
    		</div>
    		
    	</nav>
		<div class="container central">
			<div class="row">
				<div class="col-sm-2">
					<!--TODO Menu Lateral-->
				</div>
				<div class="col-sm-8">
					<div class="panel panel-default">
						<div class="panel-body">
							<h2>Contenido!</h2>
						</div>
				   	</div>
				</div>
				<div class="col-sm-2">
					<!--TODO Menu Lateral-->
				</div>
				
			</div>
		</div>
		
    </body>

</html>